<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:block th:fragment="head">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SpringBoot Board</title>
  <link rel="shortcut icon" href="/assets/brand.png" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css"/>
  <link href="http://fonts.cdnfonts.com/css/montserrat" rel="stylesheet" />
  <link rel="stylesheet" href="/style/reset.css" />
  <link rel="stylesheet" href="/style/common.css" />
  <link rel="stylesheet" href="/style/page.css" />
</head>
</html>