<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<th:block th:replace="common/head" :: head></th:block>
  <body>
    <div id="root">
      <th:block th:replace="common/header" :: header></th:block>
      <main id="main" class="board">
        <div class="wrap">
          <aside id="aside">
            <div class="container">
              <h2 th:if="${searchVO.boardIdx == 1}">공지사항</h2>
              <h2 th:if="${searchVO.boardIdx == 10}">커뮤니티</h2>
            </div>
          </aside>
          <div id="page" class="board-list">
            <div class="container">
              <div class="head">
                <div class="navigator">
                  <div class="meta">
                    총 게시물 <b th:text="${totCnt}"></b>개 (현재 <b th:text="${searchVO.pageIndex}"></b> / <b th:text="${totalPageCnt}"/> 페이지)
                  </div>
                  <div class="search">
                    <form>
                      <input type="hidden" id="boardIdx" name="boardIdx" th:value="${searchVO.getBoardIdx()}">
                      <input type="hidden" id="pageIndex" name="pageIndex" value="1">
                      <select name="searchType" th:value="${searchVO.getSearchType()}">
                        <option value="0" th:selected="${searchVO.getSearchType}=='0'">선택</option>
                        <option value="title" th:selected="${searchVO.getSearchType}=='title'">제목</option>
                        <option value="content" th:selected="${searchVO.getSearchType}=='content'">내용</option>
                        <option value="nickname" th:selected="${searchVO.getSearchType}=='nickname'">작성자</option>
                      </select>
                      <input
                        type="text"
                        name="searchValue"
                        th:value="${searchVO.getSearchValue()}"
                        placeholder="검색어를 입력하세요."
                      />
                      <button type="submit">검색</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="body">
                <div class="list">
                  <table class="rows">
                    <thead>
                      <tr>
                        <th class="num">번호</th>
                        <th class="subject">제목</th>
                        <th class="writer">작성자</th>
                        <th class="created">등록일</th>
                        <th class="hit">조회</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="postList : ${postList}">
                        <td class="num" th:text="${totCnt - ((searchVO.pageIndex -1) * 10 + postListStat.index)}"></td>
                        <td class="subject">
                          <a th:href="@{/board/detail(boardIdx=${searchVO.boardIdx}, idx=${postList.getIdx()}, pageIndex=${searchVO.pageIndex}, searchType=${searchVO.searchType}, searchValue=${searchVO.searchValue})}">
                            <span class="text" th:text="${postList.getTitle()}">
                            </span>
                            <span class="icon" th:if="${postList.uuid} != null">
                              <svg viewBox="0 0 469.333 469.333">
                                <g>
                                  <g xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                      <g>
                                        <path
                                                d="M466.208,88.458L380.875,3.125c-2-2-4.708-3.125-7.542-3.125H42.667C19.146,0,0,19.135,0,42.667v384     c0,23.531,19.146,42.667,42.667,42.667h384c23.521,0,42.667-19.135,42.667-42.667V96     C469.333,93.167,468.208,90.458,466.208,88.458z M106.667,21.333h234.667v128c0,11.76-9.563,21.333-21.333,21.333H128     c-11.771,0-21.333-9.573-21.333-21.333V21.333z M384,448H85.333V256H384V448z M448,426.667c0,11.76-9.563,21.333-21.333,21.333     h-21.333V245.333c0-5.896-4.771-10.667-10.667-10.667h-320c-5.896,0-10.667,4.771-10.667,10.667V448H42.667     c-11.771,0-21.333-9.573-21.333-21.333v-384c0-11.76,9.563-21.333,21.333-21.333h42.667v128C85.333,172.865,104.479,192,128,192     h192c23.521,0,42.667-19.135,42.667-42.667v-128h6.25L448,100.417V426.667z"
                                                fill="#979797"
                                                data-original="#000000"
                                                class=""
                                        ></path>
                                        <path
                                                d="M266.667,149.333h42.667c5.896,0,10.667-4.771,10.667-10.667V53.333c0-5.896-4.771-10.667-10.667-10.667h-42.667     c-5.896,0-10.667,4.771-10.667,10.667v85.333C256,144.562,260.771,149.333,266.667,149.333z M277.333,64h21.333v64h-21.333V64z"
                                                fill="#979797"
                                                data-original="#000000"
                                                class=""
                                        ></path>
                                      </g>
                                    </g>
                                  </g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                  <g xmlns="http://www.w3.org/2000/svg"></g>
                                </g>
                              </svg>
                            </span>
                          </a>
                        </td>
                        <td class="writer" th:text="${postList.getNickname()}"></td>
                        <td class="created" th:text="${#dates.format(postList.getRegdate(), 'yyyy-MM-dd')}"></td>
                        <td class="hit" th:text="${postList.getHit()}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="foot">
                <div class="action">
                  <a class="link" th:href="@{/board/edit(boardIdx=${searchVO.boardIdx})}">글쓰기</a>
                </div>
                <div class="more">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" th:href="@{/board/list(boardIdx=${searchVO.boardIdx}, pageIndex=1, searchType=${searchVO.searchType}, searchValue=${searchVO.searchValue})}"
                        ><i class="mdi mdi-chevron-double-left"></i
                      ></a>
                    </li>
                    <li class="page-item" th:if="${searchVO.prev}">
                      <a class="page-link" th:href="@{/board/list(boardIdx=${searchVO.boardIdx}, pageIndex=${searchVO.startData - 1}, searchType=${searchVO.searchType}, searchValue=${searchVO.searchValue})}"
                        ><i class="mdi mdi-chevron-left"></i
                      ></a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(searchVO.startData, searchVO.endData)}">
                      <a class="page-link" th:href="@{/board/list(boardIdx=${searchVO.boardIdx}, pageIndex=${i}, searchType=${searchVO.searchType}, searchValue=${searchVO.searchValue})}" th:text="${i}" th:title="${i}"></a>
                    </li>
                    <li class="page-item" th:if="${searchVO.next}">
                      <a class="page-link paginator-next" th:href="@{/board/list(boardIdx=${searchVO.boardIdx}, pageIndex=${searchVO.endData + 1}, searchType=${searchVO.searchType}, searchValue=${searchVO.searchValue})}"
                        ><i class="mdi mdi-chevron-right"></i
                      ></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" th:href="@{/board/list(boardIdx=${searchVO.boardIdx}, pageIndex=${totalPageCnt}, searchType=${searchVO.searchType}, searchValue=${searchVO.searchValue})}"
                        ><i class="mdi mdi-chevron-double-right"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <th:block th:replace="common/footer" :: footer></th:block>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="/script/common.js"></script>
    <script th:inline="javascript">
      /*<![CDATA[*/
      $(document).ready(function() {
        var thisIndex = /*[[${searchVO.pageIndex}]]*/
        $(".pagination li a").each(function () {
          var idx = $(this).parent().index();
          var thistitle = $(this).attr("title");
          if (thistitle == thisIndex) {
            $(".pagination").find("li").eq(idx).addClass("active");
          }
        });
      });
      /*]]>*/
    </script>
  </body>
</html>
