<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<th:block th:replace="common/head" :: head></th:block>
  <body>
    <div id="root">
      <th:block th:replace="common/header" :: header></th:block>
      <main id="main" class="board">
        <div class="wrap">
          <aside id="aside">
            <div class="container">
              <h2>공지사항</h2>
            </div>
          </aside>
          <div id="page" class="board-edit">
            <div class="container">
              <div class="body">
                <form id="postForm" novalidate="novalidate" method="post" action="/board/update" enctype="multipart/form-data">
                  <input type="hidden" name="boardIdx" th:value="1" />
                  <input type="hidden" name="idx" th:value="${detailView.getIdx()}" />
                  <input th:if="${session.loginUser != null}" type="hidden" name="userIdx" th:value="${session.loginUser.getIdx()}" />
                  <table class="form-table">
                    <tbody>
                      <tr>
                        <th>제목<em>*</em></th>
                        <td>
                          <input
                            class="input"
                            type="text"
                            name="title"
                            th:value="${detailView.getTitle()}"
                            data-name="제목"
                            maxlength="255"
                            required=""
                          />
                        </td>
                      </tr>
                      <tr>
                        <th>내용<em>*</em></th>
                        <td>
                          <textarea
                            class="textarea"
                            id="editor"
                            name="content"
                            th:text="${detailView.getContent()}"
                            data-name="내용"
                          ></textarea>
                        </td>
                      </tr>

                      <tr>
                        <th>첨부파일</th>
                        <td>
                          <div class="file">
                            <div class="button">
                              <label class="upload">
                                <input id="file" type="file" name="file" oninput="filebox()"/>
                                <span class="button">파일 선택</span>
                              </label>
                            </div>
                            <div id="attach" class="attach">
                              <div class="item" data-idx="122" style="display: none">
                                <div class="data">
                                  <div class="filename">
                                    <a href="#"></a>
                                    <input
                                      type="hidden"
                                      name="uploads"
                                      value="122"
                                    />
                                  </div>
                                  <div class="size"></div>
                                </div>
                                <div class="remove" onclick="fileDelete()">
                                  <svg viewBox="0 0 188 188">
                                    <g>
                                      <g>
                                        <path
                                          clip-rule="evenodd"
                                          d="m121.564 67.959c1.851 1.85 1.851 4.85 0 6.701l-46.904 46.904c-1.85 1.851-4.85 1.851-6.701 0-1.85-1.851-1.85-4.85 0-6.701l46.905-46.905c1.85-1.849 4.85-1.849 6.7.001z"
                                          fill-rule="evenodd"
                                        ></path>
                                      </g>
                                      <g>
                                        <path
                                          clip-rule="evenodd"
                                          d="m67.959 67.959c1.85-1.85 4.85-1.85 6.701 0l46.905 46.904c1.851 1.851 1.851 4.851 0 6.702-1.851 1.85-4.85 1.85-6.701 0l-46.905-46.905c-1.85-1.85-1.85-4.85 0-6.701z"
                                          fill-rule="evenodd"
                                        ></path>
                                      </g>
                                      <g>
                                        <path
                                          clip-rule="evenodd"
                                          d="m94.762 180.048c47.102 0 85.286-38.183 85.286-85.286 0-47.102-38.183-85.286-85.286-85.286-47.102 0-85.286 38.184-85.286 85.286s38.184 85.286 85.286 85.286zm0 9.476c52.335 0 94.762-42.427 94.762-94.762 0-52.336-42.427-94.762-94.762-94.762-52.336 0-94.762 42.426-94.762 94.762 0 52.335 42.426 94.762 94.762 94.762z"
                                          fill-rule="evenodd"
                                        ></path>
                                      </g>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="form-action">
                    <div class="action">
                      <a class="button" href="/board/cancel">취소</a>
                      <button class="button black" type="submit">수정</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      <th:block th:replace="common/footer" :: footer></th:block>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="/script/common.js"></script>
    <script th:inline="javascript">
      /*<![CDATA[*/
      var isFile=/*[[${detailFile != null}]]*/ || false;
      var fileName = /*[[${detailFile != null ? detailFile.getOriginname() : ''}]]*/ || "";
      var fileType = /*[[${detailFile != null ? detailFile.getType() : ''}]]*/ || "";
      var fileSize = /*[[${detailFile != null ? detailFile.getSize() : ''}]]*/ || "";
      if(isFile) {
        $(".filename a").html(fileName + "." + fileType);
        $(".size").html(fileSize + " Bytes");
        $(".item").show();
      }
      /*]]>*/

      function filebox() {
        // var filename = $("#file")[0].files.length ? $("#file")[0].files[0].name : "";
        var filename = $("#file").get(0).files[0].name;
        var filesize = $("#file").get(0).files[0].size;
        console.log($("#file").get(0).files);
        console.log($("#file").get(0).files[0]);
        if($("#file").get(0).files != null) {
          $(".filename a").html(filename);
          $(".size").html(filesize + " Bytes");
          $(".item").show();
        }
      }
      function fileDelete() {
        $("#file").val('');
        $(".item").css('display', 'none');
      }
    </script>
  </body>
</html>
