<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpringBoot Board</title>
    <link rel="shortcut icon" href="/assets/brand.png" />

    <link href="http://fonts.cdnfonts.com/css/montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/common.css" />
    <link rel="stylesheet" href="/style/page.css" />
  </head>
  <body>
    <div id="auth">
      <div class="wrap">
        <section class="header">
          <a class="brand" href="/">
            <img src="/assets/brand.png" alt="" />
            <span class="text"><span>SpringBoot</span> Board</span>
          </a>
        </section>
        <section class="form">
          <form id="loginForm" method="post" action="/user/login">
            <div th:if="${exception != null}"><p th:text="${exception}"></p></div>
            <div class="form-field">
              <input
                id="id"
                type="text"
                name="id"
                placeholder="아이디"
                required
              />
            </div>
            <div class="form-field">
              <input
                id="password"
                type="password"
                name="password"
                placeholder="비밀번호"
                required
              />
            </div>
            <div class="form-action">
              <button class="form-button" type="submit">로그인</button>
              <a class="form-link" href="/user/join">회원가입</a>
            </div>
          </form>
        </section>
        <section class="option">
          <div class="description">
            회원가입이 번거로우시면<br />
            하단의 샘플 계정으로 로그인 해주세요.
          </div>
          <div class="links">
            <ul>
              <li><a href="#">관리자 계정 로그인</a></li>
              <li><a href="#">일반회원 계정 로그인</a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="/script/common.js"></script>
    <script th:inline="javascript">
      /*<![CDATA[*/
      var isJoin=/*[[${joinUser != null}]]*/ || false;
      var userName = /*[[${joinUser != null ? joinUser.getId() : ''}]]*/ || "";
      if(isJoin) {
        alert(userName + '님 가입을 환영합니다.');
      }
      /*]]>*/
    </script>
  </body>
</html>
