<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpringBoot Board</title>
    <link rel="shortcut icon" href="/assets/brand.png" />

    <link href="http://fonts.cdnfonts.com/css/montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/common.css" />
    <link rel="stylesheet" href="/style/page.css" />
  </head>
  <body>
    <div id="root">
      <header id="header">
        <div class="container">
          <div class="brand">
            <a href="/">
              <img src="/assets/brand.png" alt="" />
              <span class="text"><span>SpringBoot</span> Board</span>
            </a>
          </div>
          <nav class="nav">
            <ul>
              <li><a href="/board-list.html">공지사항</a></li>
              <li>
                <a href="/board-list.html">커뮤니티</a>
              </li>
              <li>
                <a class="button" href="/user/login">로그인</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main id="main" class="index">
        <div class="wrap">
          <section class="visual">
            <div class="container">
              <h2 class="headline">
                Super Simple SpringBoot Board Project<br />Practice Web MVC,
                CRUD
              </h2>
              <div class="hero"><img src="/assets/hero.png" alt="" /></div>
            </div>
          </section>
          <section class="skills">
            <div class="container">
              <h3>Tech Skills</h3>
              <div class="list">
                <div class="item">
                  <div class="icon"><img src="/assets/boot.png" alt="" /></div>
                  <div class="name">Springboot</div>
                  <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem beatae sit error, et ea nisi. Nisi incidunt
                    itaque eius atque id magnam, quia laboriosam ab modi
                    officiis officia expedita delectus!
                  </div>
                </div>
                <div class="item">
                  <div class="icon">
                    <img src="/assets/mariadb.png" alt="" />
                  </div>
                  <div class="name">MariaDB</div>
                  <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem beatae sit error, et ea nisi. Nisi incidunt
                    itaque eius atque id magnam, quia laboriosam ab modi
                    officiis officia expedita delectus!
                  </div>
                </div>
                <div class="item">
                  <div class="icon">
                    <img src="/assets/mybatis.png" alt="" />
                  </div>
                  <div class="name">Mybatis</div>
                  <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem beatae sit error, et ea nisi. Nisi incidunt
                    itaque eius atque id magnam, quia laboriosam ab modi
                    officiis officia expedita delectus!
                  </div>
                </div>
                <div class="item">
                  <div class="icon"><img src="/assets/html.png" alt="" /></div>
                  <div class="name">HTML</div>
                  <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem beatae sit error, et ea nisi. Nisi incidunt
                    itaque eius atque id magnam, quia laboriosam ab modi
                    officiis officia expedita delectus!
                  </div>
                </div>
                <div class="item">
                  <div class="icon"><img src="/assets/css.png" alt="" /></div>
                  <div class="name">CSS</div>
                  <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem beatae sit error, et ea nisi. Nisi incidunt
                    itaque eius atque id magnam, quia laboriosam ab modi
                    officiis officia expedita delectus!
                  </div>
                </div>

                <div class="item">
                  <div class="icon">
                    <img src="/assets/jquery.png" alt="" />
                  </div>
                  <div class="name">jQuery</div>
                  <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem beatae sit error, et ea nisi. Nisi incidunt
                    itaque eius atque id magnam, quia laboriosam ab modi
                    officiis officia expedita delectus!
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="erd">
            <div class="container">
              <h3>ER-Diagram</h3>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />
                Voluptatem beatae sit error, et ea nisi. Nisi incidunt itaque
              </p>
              <div class="image">
                <img src="/assets/erd.png" alt="" />
              </div>
            </div>
          </section>
        </div>
      </main>
      <footer id="footer">
        <div class="container">
          <div class="informarion">
            <span><em>SpringBoot Board</em></span>
            <span>Developer <em>Park</em></span>
            <span>email <em>speranza0p@gmail.com</em></span>
          </div>
          <div class="bar">
            <div class="copyright">
              Copyright © StringBoot Board All Rights Reserved.
            </div>
            <div class="policy">
              <ul class="links">
                <li>
                  <a href="#" target="_blank">Github</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="/script/common.js"></script>
  </body>
</html>
